<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-warning text-center">
                            Section 1
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers">
                            <i class="ti-filter"></i>
                            filter form
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <div class="stats">
                        <i class="ti-reload"></i>
                        some info:
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>