        <div class="content">
            <div class="container-fluid">
                
                <%= render 'partials/main_filter' %>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">
                                    News Statistics against villages
                                </h4>
                                <p class="category">
                                    This table shows detailed stats on News for every Village. You can click on a particular record to drill down to more stats for it.
                                </p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                        <th>Count</th>
                                    	<th>Village Name</th>
                                    	<th>Articles Read</th>
                                    	<th>Sports Articles</th>
                                    	<th>Local News Articles</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td>1</td>
                                        	<td>Biwi</td>
                                        	<td>5</td>
                                        	<td>2</td>
                                        	<td>3</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>