development: &development
  protocol: 'http'
  host: localhost
  port: 5984
  prefix: dde
  suffix: production_mtema_17
  username: couch_username
  password: couch_password

test:
  <<: *development
  suffix: test

production:
  protocol: 'http'
  host: localhost
  port: 5984
  prefix: evr_stats_konsole
  suffix: production
  username: root
  password: 123
